@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
html {
  body {
    background-color: hsl(217, 52%, 90%);
    //padding: 200px 22.5%;
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
    padding-bottom: 0;
    main {
      .qr-container {
        width: 320px;
        gap: 25px;
        background-color: hsl(0, 0%, 100%);
        padding: 1rem;
        padding-bottom: 43px;
        border-radius: 1.2rem;
        box-shadow: 0px 1px 5px 0px hsl(220, 15%, 55%);
        img {
          // height: 100%;
          max-width: 100%;
          border-radius: 0.6rem;
        }
        .text {
          width: 260px;
          text-align: center;
          font-size: 15px;
          color: hsl(220, 15%, 55%);
          h2 {
            text-align: center;
            font-size: 1.4rem;
            color: hsl(218, 44%, 22%);
            margin-bottom: 21px;
            @include breakpoint-down(small) {
              font-size: 0.9rem;
              //width: 190px;
              margin-bottom: 17px;
            }
          }
          @include breakpoint-down(small) {
            width: 200px;
          }
          .txt {
            @include breakpoint-down(small) {
              width: 200px;
              font-size: 13px;
            }
          }
        }
        @include breakpoint-down(small) {
          width: 240px;
          gap: 20px;
          padding-bottom: 34px;
        }
      }
    }
  }
}
